@import url("https://fonts.googleapis.com/css?family=Raleway");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient( to right bottom, rgba(238, 238, 238, 0.7), rgba(119, 119, 119, 0.7)), url("../img2.jpg");
  background-size: cover;
  background-position: center;
}


.container {
  background-color: transparent;
  width: 800px;
  height: 800px;
  padding: 1em;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: .5em;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
}

.question {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(250, 151, 37);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  width: 1024px;
  font-size: 3em;
  top: 250px;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size: 1.4em;
  padding: 1rem;
  top: 350px;
  background-color: #2eb62e;
  color: #ffffff;
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.playBtn:hover {
  background-color: #008b8b;
}