@import url("https://fonts.googleapis.com/css?family=Raleway");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient( to right bottom, rgba(238, 238, 238, 0.7), rgba(119, 119, 119, 0.7)), url("../img2.jpg");
  background-size: cover;
  background-position: center;
}


.container {
  background-color: transparent;
  width: 800px;
  height: 800px;
  padding: 1em;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  position: relative;
  background-color: #000000e1;
  color: #fff;
  padding: .5em;
  font-size: 2rem;
  border-radius: .3em;
  text-align: center;
  letter-spacing: .1em;
  box-shadow: 2px 3px 4px #333;
  font-weight: bold;
}

.question {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .6em;
  color: #eee;
}

.questionBox {
  position: relative;
  border: 1px solid #000;
  margin-top: .5em;
  padding: .8em;
  box-sizing: border-box;
  background-color: #000000e1;
  border-radius: .3em;
  box-shadow: 2px 3px 4px #333;
}

.answerBtn {
  position: relative;
  padding: .6em;
  background-color: #058d8d;
  display: inline-block;
  margin: .5em;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border-radius: .3em;
  cursor: pointer;
}
.answerBtn:hover {
  background-color: #06afaf;
}

.score-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  
}

.score {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  font-size: 3.2em;
  font-weight: 700;
  top: 280px;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size: 1.5rem;
  padding: .6em;
  top: 350px;
  background-color: #008b8b;
  color: #ffffff;
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  cursor: pointer;
  border: none;
  border-radius: 3px;

}
.playBtn:hover {
  background-color: #1fb6b6;
  color: #000;
}